<div class="employee">
  <table class="table text-center employee-table">
    <tr>
      <td class="w-25">Name</td>
      <td class="w-75">{{ employee['name']}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ employee['age']}}</td>
    </tr>
    <tr>
      <td>Position</td>
      <td>{{ employee['position']}}</td>
    </tr>
    <tr>
      <td colspan="100%" class="delete-btn">
        <button class="btn btn-danger" (click)="deleteEmployee()">Delete</button>
      </td>
    </tr>
  </table>
</div>
